<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minium-scale=1.0">
	
	<title>Trang chủ - Shopme Admin </title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
	<div>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/images/shopmelogo.png}" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="topNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/nguoidung}">Người dùng</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/danhmuc}">Danh mục</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/nhanhieu}">Nhãn hiệu</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/sanpham}">Sản phẩm</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/khachhang}">Khách hàng</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/giaohang}">Giao hàng</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/dathang}">Đơn đặt hàng</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/baocao}">Báo cáo bán hàng</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/baiviet}">Bài viết</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/menus}">Menus</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/caidat}">Cài đặt</a>
					</li>
				</ul>
			</div>	
		</nav>
	</div>
	<div>
		<h2>Quản lý tài khoản người dùng</h2>
		<a th:href="@{/nguoidung/new}">Tạo tài khoản mới</a>
	</div>
	
	<div th:if="${message != null}" class = "alert alert-success text-center">
		[[${message}]]
	</div>
	
	<div>
		<table class = "table table-bordered table-striped table-hover table-responsive-xl">
			<thead class = "thead-dark">
				<tr>
					<th>
						<a th:if="${sortField != 'maTK'}" class="text-white"
							th:href="@{'/nguoidung/page/' + ${currentPage} + '?sortField=maTK&sortDir=' + ${sortDir}}" >
							Mã tài khoản 
						</a>
						<a th:if="${sortField == 'maTK'}" class="text-white"
							th:href="@{'/nguoidung/page/' + ${currentPage} + '?sortField=maTK&sortDir=' + ${reverseSortDir}}" >
							Mã tài khoản 
						</a>
						
						
						<span th:if="${sortField == 'maTK'}"
							th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
					</th>
					<th>Ảnh đại diện</th>
					<th>
						<a th:if="${sortField != 'email'}" class="text-white"
							th:href="@{'/nguoidung/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${sortDir}}" >
							Email
						</a>
						<a th:if="${sortField == 'email'}" class="text-white"
							th:href="@{'/nguoidung/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}" >
							Email
						</a>
						
						
						<span th:if="${sortField == 'email'}"
							th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
					</th>
					
					<th>
						<a th:if="${sortField != 'nHo'}" class="text-white"
							th:href="@{'/nguoidung/page/' + ${currentPage} + '?sortField=nHo&sortDir=' + ${sortDir}}" >
							Họ
						</a>
						<a th:if="${sortField == 'nHo'}" class="text-white"
							th:href="@{'/nguoidung/page/' + ${currentPage} + '?sortField=nHo&sortDir=' + ${reverseSortDir}}" >
							Họ
						</a>
						
						
						<span th:if="${sortField == 'nHo'}"
							th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
					</th>
					
					<th>
						<a th:if="${sortField != 'nTen'}" class="text-white"
							th:href="@{'/nguoidung/page/' + ${currentPage} + '?sortField=nTen&sortDir=' + ${sortDir}}" >
							Tên
						</a>
						<a th:if="${sortField == 'nTen'}" class="text-white"
							th:href="@{'/nguoidung/page/' + ${currentPage} + '?sortField=nTen&sortDir=' + ${reverseSortDir}}" >
							Tên
						</a>
						
						
						<span th:if="${sortField == 'nTen'}"
							th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
					</th>
					<th>Chức vụ</th>					
					<th>
						<a th:if="${sortField != 'trangThai'}" class="text-white"
							th:href="@{'/nguoidung/page/' + ${currentPage} + '?sortField=trangThai&sortDir=' + ${sortDir}}" >
							Trạng thái
						</a>
						<a th:if="${sortField == 'trangThai'}" class="text-white"
							th:href="@{'/nguoidung/page/' + ${currentPage} + '?sortField=trangThai&sortDir=' + ${reverseSortDir}}" >
							Trạng thái
						</a>
						
						
						<span th:if="${sortField == 'trangThai'}"
							th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
					</th>
					
					<th> </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${listUsers}">
					<td>[[${user.maTK}]]</td>
					<td>
						<span th:if="${user.hinhAnh == null}" class="fas fa-portrait fa-3x icon-silver"></span> 
						<img th:if="${user.hinhAnh != null}" th:src="@{${user.duongDanHinhAnh}}"
							style="width: 100px" />
					</td>
					<td>[[${user.Email}]]</td>
					<td>[[${user.ho}]]</td>
					<td>[[${user.ten}]]</td>
					<td>[[${user.phanquyen}]]</td>
					
					<td>
						<a th:if="${user.trangThai == true}" class="fas fa-check-circle fa-2x icon-green" 
							th:href="@{'/nguoidung/' + ${user.maTK} + '/trangThai/false'}"
							title="Tắt kích hoạt"></a>
							
						<a th:if="${user.trangThai == false}" class="fas fa-circle fa-2x icon-dark" 
							th:href="@{'/nguoidung/' + ${user.maTK} + '/trangThai/true'}"
							title="Bật kích hoạt"></a>
					</td>
					<td>
						<a class="fas fa-edit fa-2x icon-green" th:href="@{'/nguoidung/edit/' + ${user.maTK}}"
							title="Chỉnh sửa thông tin tài khoản"></a>
						&nbsp; 
						<a class="fas fa-trash fa-2x icon-dark link-delete" 
							th:href="@{'/nguoidung/delete/' + ${user.maTK}}"
							th:userId="${user.maTK}"
							title="Xóa tài khoản"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="text-center m-1" th:if="${totalItems > 0}">
		<span>Hiển thị người dùng # [[${startCount}]] tới [[${endCount}]] của [[${totalItems}]]</span>
	</div>
	<div class="text-center m-1" th:unless="${totalItems > 0}">
		<span>Không có người dùng nào</span>
	</div>
	
	<div>
		<nav>
			<ul class="pagination justify-content-center">
				<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
					<a class="page-link" th:href="@{'/nguoidung/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang đầu</a>
				</li>
				
				<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
					<a class="page-link" th:href="@{'/nguoidung/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trở về</a>
				</li>
				
				<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" 
					th:each="i : ${#numbers.sequence(1, totalPages)}">
					<a class="page-link" th:href="@{'/nguoidung/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
				</li>
				
				<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
					<a class="page-link" th:href="@{'/nguoidung/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang tiếp theo</a>
				</li>
				
				<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
					<a class="page-link" th:href="@{'/nguoidung/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang cuối</a>
				</li>
			</ul>
		</nav>
	</div>
	
	<div class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id=modalTitle>Xác nhận xóa</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				
				<div class="modal-body">
					<span id="confirmText"></span>
				</div>
				
				<div class="modal-footer">
					<a class="btn btn-success" href="" id="yesButton">Có</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Không</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class = "text-center">
		<p>liên hệ: nvtamnt99@gmail.com</p>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			link = $(this);
			//alert($(this).attr("href"));
			userId = link.attr("userId");
			$("#yesButton").attr("href", link.attr("href"));
			$("#confirmText").text(" Bạn có chắc muốn xóa người dùng có mã tài khoản  " + userId + " ?");
			$("#confirmModal").modal();
		});
		
	});
</script>
</body>
</html>