<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Sản phẩm - Shopme Admin', 'none')" />
<body>
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>
	<div>
		<h2>Quản lý sản phẩm</h2>	

		<a th:href="@{/sanpham/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
		<a th:href="@{/sanpham/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
	</div>

	<div th:replace="fragments :: search_form_and_message('/sanpham/page/1')" />

	<div class="full-details">
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th th:replace="fragments :: column_link('/sanpham', 'maSanPham', 'Mã sản phẩm', 'none')" />
					<th>Hình ảnh chính</th>
					<th th:replace="fragments :: column_link('/sanpham', 'ten', 'Tên sản phẩm', 'none')" />
					<th th:replace="fragments :: column_link('/sanpham', 'nhanhieu', 'Nhãn hiệu', 'none')" />
					<th th:replace="fragments :: column_link('/sanphan', 'danhmuc', 'Danh mục', 'none')" />
					<th>Trạng thái</th>
					<th></th>
				</tr>								
			</thead>
			<tbody>
				<tr th:each="product : ${listProducts}">
					<td>[[${product.maSanPham}]]</td>
					<td>
						<img th:src="@{${product.duongDanHinhAnhChinh}}" style="width: 120px" class="img-fluid" />
					</td>
					<td>
						<a class="link-detail"
							th:href="@{'/sanpham/detail/' + ${product.maSanPham}}"
							th:title="${product.ten}"
							>[[${product.tenNgan}]]</a>					

					</td>
					<td>[[${product.nhanhieu.ten}]]</td>
					<td>[[${product.danhmuc.ten}]]</td>
					<td>
						<div th:replace="fragments :: status(${product.trangThai}, 'sanpham', '/sanpham/' + ${product.maSanPham})" />
					</td>
					<td>
						<a class="fas fa-file-alt fa-2x icon-green link-detail"
							th:href="@{'/sanpham/detail/' + ${product.maSanPham}}"
							title="View details of this product"
							></a>
						&nbsp; 	
						<div th:replace="fragments :: edit('sanpham', '/sanpham/edit/' + ${product.maSanPham})" />
						&nbsp; 
						<div th:replace="fragments :: delete('sanpham', ${product.maSanPham}, '/sanpham/delete/' + ${product.maSanPham}, true)" />						
					</td>					
				</tr>
			</tbody>
		</table>
	</div>

	<div th:replace="modal_fragments :: confirm_modal" />
	
	<div class="modal fade" id="detailModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
			</div>
		</div>
	</div>
	
	<div th:replace="fragments :: pagination('/sanpham', 'sanpham')"></div>

	<div th:replace="fragments :: footer"></div>

</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/sanpham}]]";

	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModal($(this), 'sanpham');
		});
		
		$(".link-detail").on("click", function(e) {
			e.preventDefault();
			linkDetailURL = $(this).attr("href");
			$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
		});
	});
</script>
</body>
</html> 