<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Danh mục - Quản lý Admin')" />
<body>
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>
	<div>
		<h2>Quản lý danh mục</h2>
		<a th:href="@{/danhmuc/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
		<a th:href="@{/danhmuc/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
		
	</div>
	
	<div th:if="${message != null}" class="alert alert-success text-center">
		[[${message}]]
	</div>
	
	<div th:replace="fragments :: search_form('/danhmuc/page/1')" />

	<div class="full-details">
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class = "thead-dark">
				<tr>
					<th>Mã danh mục </th>
					<th>Hình ảnh</th>
					<th>
						<a class="text-white" th:href="@{'/danhmuc/page/' + ${pageNum} + '?sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Tên danh mục</a>
						<span th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>						
					</th>
					<th>Bí danh</th>
					<th>Trạng thái</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cat : ${listCategories}">
					<td>[[${cat.maDanhMuc}]]</td>
					<td>
						<img th:src="@{${cat.duongDanHinhAnh}}" style="width: 100px" class="img-fluid" />
					</td>
					<td>[[${cat.ten}]]</td>
					<td>[[${cat.biDanh}]]</td>
					<td>
						<a th:if="${cat.trangThai == true}" class="fas fa-check-circle fa-2x icon-green" 
							th:href="@{'/danhmuc/' + ${cat.maDanhMuc} + '/trangThai/false'}"
							title="Tắt kích hoạt"></a>

						<a th:if="${cat.trangThai == false}" class="fas fa-circle fa-2x icon-dark" 
							th:href="@{'/danhmuc/' + ${cat.maDanhMuc} + '/trangThai/true'}"
							title="Bật kích hoạt"></a>
					</td>
					<td>
						<a class="fas fa-edit fa-2x icon-green" th:href="@{'/danhmuc/edit/' + ${cat.maDanhMuc}}"
							title="Edit this category"></a>
						&nbsp; 
						<th:block th:if="${cat.hasDanhMucCon == false}">
						<a class="fas fa-trash fa-2x icon-dark link-delete" 
							th:href="@{'/danhmuc/delete/' + ${cat.maDanhMuc}}"
							th:entityId="${cat.maDanhMuc}"
							title="Delete this category"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div th:if="${keyword != null}" class="text-center">
		<span>Kết quả tìm kiếm không hiển thị các danh mục ở dạng phân cấp</span>
		<div th:replace="fragments :: pagination('danhmuc', 'danhmuc')"></div>
	</div>

	<th:block th:unless="${keyword != null}">
	<div th:replace="fragments :: pagination('/danhmuc', 'top-level danhmuc')"></div>
	</div>
	
	<div th:replace="modal_fragments :: confirm_modal" />
	
	<div th:replace="fragments :: footer"></div>
</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/danhmuc}]]";

	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModal($(this), 'danhmuc');
		});
	});
</script>
</script>
</body>
</html> 